.hamburger {
    position: relative;
}

.hamburger-menus {
    position: absolute;
    width: 70px;
    border: 1px solid;
    background-color: white;
}

.is-show {
    display: block;
}

.is-close {
    display: none;
}

.line {
    width: 15px;
    border: 2px solid;
    border-radius: 10px;
    position: relative;
}

.line::after,
.line::before {
    content: '';
    position: absolute;
    transform: translate(-2px, 5px);
    width: 11px;
    border: 2px solid;
    border-radius: 10px;
}

.line::before {
    transform: translate(-2px, -10px);
}