<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/user/signup.css">
    <link rel="stylesheet" href="/css/user/kakao_login.css">
    <link rel="stylesheet" href="/css/user/google_login.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/js/user/signup.js"></script>
    <script>
        const tokenCheck = () => {
            if (!<%= tokenEmpty %>) {
                console.log()
                alert("이미 로그인 되어있습니다.");
                history.back();
            }
        }
        tokenCheck();
    </script>
</head>

<body>
    <!-- loginid -->
    <!-- password -->
    <!-- nickname -->
    <!-- img -->
    <div class="container">
        <div class="header">
            <h2>가입을 환영합니다</h2>
        </div>
        <div class="content">
            <form action="" method="post" id="form">
                <div class="email-login-form">
                    <input type="text" name="oauthType" hidden>
                    <div class="img-wrap">
                        <label for="userImg">
                            <img id="img" src="" alt="">
                        </label>
                        <input onchange="changeImge(this)" type="file" id="userImg" name="file"
                            accept=".jpg,.jpeg, .png">
                        <span>이미지를 추가해주세요</span>
                    </div>
                    <div class="email-form">
                        <div>
                            <label>id</label>
                            <input type="text" name="loginId">
                        </div>
                        <div>
                            <label for="">password</label>
                            <input type="password" name="password">
                        </div>
                        <div>
                            <label for="">nickname</label>
                            <input type="text" name="nickname">
                        </div>
                        <div>
                            <button>회원가입</button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="social-login">
                <h4>소셜 회원가입</h4>
                <div class="social-login-type">
                    <div class="kakao-login" onclick="openKakao();">
                        <img src="http://localhost:3000/imgs/user/kakao_logo.png">
                    </div>
                    <div class="google-login" onclick="openGoogle();">
                        <img src="http://localhost:3000/imgs/user/google_logo.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="footer"></div>
    </div>
</body>

</html>