.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.content label {
    font-size: 100%;
    margin-right: 20px;
}

form>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

form>button {
    width: 100%;
    height: 30px;
    border-radius: 6px;
    background-color: white;
    font-size: 100%;
    box-shadow: 0 0 5px;
}

.loginBtn:hover {
    background-color: blanchedalmond;
}

input[type=text],
input[type=password] {
    width: 200px;
    height: 20px;
    outline: none;
    padding: 3px 6px;
    font-size: 14px;
}

.social-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    justify-content: space-between;
}

.social-login-type {
    display: flex;
    align-items: center;
}

.social-login-type>div {
    margin: 0 15px;
}

.social-login-type>div:hover {
    transform: scale(1.1);

}

.social-login-type>div>img {
    box-shadow: 0 0 10px;
    border-radius: 50%;
}

#mainlogo {
    width: 0px;
    position: absolute;
    animation-name: main;
    animation-duration: 3s;
}

@keyframes main {
    0% {
        width: 0px;
    }

    50% {
        width: 35%;
        opacity: 1;
    }

    100% {
        width: 35%;
        opacity: 0;

    }
}

.new-account {
    margin: 20px;
}